.App {
  text-align: center;
}

.controls {
  margin-bottom: 1rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.controls *:not(:first-child) {
  margin-left: 1rem;
}

.controls input {
  width: 40px;
}

.statusbar {
  margin-top: .5rem;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.statusbar *:not(:first-child) {
  margin-left: 1rem;
}